---
http_interactions:
- request:
    method: get
    uri: https://api.nasa.gov/planetary/apod?api_key=jdCci90zMTb076TOrfTGriiH1nCEcLqJGNUXhRHP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '994'
    body:
      encoding: ASCII-8BIT
      string: '{"date":"2019-04-15","explanation":"Do you see the dolphin-shaped cloud
        on Jupiter? The cloud was visible last year during perijove 16, the sixteenth
        time that NASA''s robotic spacecraft Juno passed near Jupiter since it arrived
        in mid-2016.  During each perijove, Juno passes near a slightly different
        part of Jupiter''s cloud tops.  The dolphin shape may be surprising but is
        not scientifically significant -- clouds on Jupiter and Earth are constantly
        shifting and can temporarily mimic many familiar shapes. The cloud appears
        in Jupiter''s South Temperate Belt (STB), a band of dark and dropping clouds
        that rings the planet and also contains Oval BA, dubbed Red Spot Jr.  The
        featured image was digitally processed to enhance color and contrast.  Juno''s
        next swoop near Jupiter -- perijove 20 -- will occur on late May.","hdurl":"https://apod.nasa.gov/apod/image/1904/JupiterDolphin_JunoEichstadt_3064.jpg","media_type":"image","service_version":"v1","title":"Enhanced:
        The Dolphin Cloud on Jupiter","url":"https://apod.nasa.gov/apod/image/1904/JupiterDolphin_JunoEichstadt_1080.jpg"}

'
  recorded_at: Mon, 15 Apr 2019 21:06:49 GMT
recorded_with: VCR 4.0.0
